*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.snm
*.nav
*.fdb_latexmk
imgs/figures
Transformer-RL.pdf
Transformer-RL.synctex.gz
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

**/aux/
ref/*
